<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/files/car_details/styles.css">
  <title>Car Details</title>
</head>
<body>
  <table>
  <tr>
    <th class="cNo">Car No</th>
    <th class="loc">Localization</th>
    <th class="use">In Use</th>
    <th class="bat">Batery</th>
    <th class="send">Send</th>
  </tr>
  <tr>
    <td>1</td>
    <td>st Patrick street</td>
    <td><input type="checkbox" name="query_myTextEditBox">  </td>
    <td>15%</td>
    <td><input type="checkbox" name="query_myTextEditBox">  </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Mahon Point shopping centre</td>
    <td><input type="checkbox" name="query_myTextEditBox"> </td>
    <td>75%</td>
    <td><input type="checkbox" name="query_myTextEditBox">  </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Old Mallow Road</td>
    <td><input type="checkbox" name="query_myTextEditBox"> </td>
    <td>100%</td>
    <td><input type="checkbox" name="query_myTextEditBox">  </td>
  </tr>
  <tr>
    <td>4</td>
    <td>Grand Parade</td>
    <td><input type="checkbox" name="query_myTextEditBox"> </td>
    <td>80%</td>
    <td><input type="checkbox" name="query_myTextEditBox">  </td>
  </tr>
</table>
</body>
</html>