<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />


    <link href="/files/home/styles.css" type="text/css" rel="stylesheet" />

</head>

<body>
    <div id="base" class="">

        <!-- Unnamed (Inline Frame) -->
        <div id="calendar" class="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?src=maciej.kubiniec%40mycit.ie&ctz=Europe%2FDublin" style="border: 0"
                width="800" height="400" frameborder="0" scrolling="auto"></iframe>
        </div>


        <!-- Unnamed (Rectangle) -->
        <div id="Routes" class="heading_11">
            <div id="Routes_div" class=""></div>
            <div id="Routes_text" class="text ">
                <p>
                    <span>Today's Routes</span>
                </p>
            </div>
        </div>
    </div>
</body>

</html>