/* ----------------------- Main Display area -------------------------- */

body {
	margin: 0px;
	background:#65cd6a;

		
	width: 100%;
	margin-left: auto;
	margin-right: auto;
		
}

/* ----------------------- HEADER -------------------------- */


	#header {
		
		display: flex;
		background: #48C34E;
		color: white;
		
		
	}
	
	.logo{
		
		height:100px;
	}


	
	
#header h1 { 
	margin: 0px; 
	padding: 20px;
	font-size: 3em;
	line-height: 1em;	

	font-family: cursive;
} 
	
	
		
		
		
#header h1 { margin-right: 100px; }


/* ----------------------- MENU -------------------------- */


			
#menu {
				

	margin: 0px; 
}
				
				
				
				

			
			
#menu li {
	float: left; 
	border: none;
	border-top: none;
	border-bottom: none;
}


#menuicon {
	font-family: helvetica;
	color: white;
	font-size: 1em; 
	line-height: 2em;
	border: white 1px solid;
			
	width: 100px;
	text-align: center;
	background: #48C34E;
	position: absolute; 
	top: 10px; right:10px;
	border-radius: 10px;
			
}
		
		
	
#menu ul{
	
	margin: auto;
	list-style: none;
	padding: 0px;
	font-family: helvetica, sans-serif;
	overflow: auto;
}
		
#menu ul li {
	
	font-size: 1.3em;
	text-align: center;
	color: black;
	float: left;
	width: 50%;
	line-height: 3em;
	background: #48C34E;

}
		
		
#menu ul li a {
	color: black;
	border: 1px black solid;
		
	text-decoration: none;
	display: block;
}	


	#menu {
		width: 20%; 
		float: left;
	}
	
	#menu ul li {
		float: none; 
		width: auto;
		font-size: 2em;
	}	
	

		
	.copyright{
	position: absolute;
	color:dimgray;
	left:45%;
	bottom:0px;
	}
	