<div class="card card-body">
  <h3>Customer Details</h3>
  <form action="/customers" method="post">
    <div class="form-group">
      <label for="name">name</label>
      <input type="text" class="form-control" name="name" required>

      <label for="email">email</label>
      <input type="text" class="form-control" name="email" required>

      <label for="phone">phone</label>
      <input type="text" class="form-control" name="phone" required>

      <label for="dob">dob</label>
      <input type="text" class="form-control" name="dob" required>


      <label for="address">address</label>
      <textarea class="form-control" name="address" required></textarea>

      <label for="pType">pType</label>
      <input type="text" class="form-control" name="pType" required>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>